
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: signika;

  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*-- COLOR EKLE --*/

  --primary-black: black;
  --primary-red: #E50914;

  --typo-white: #FFFFFF;
  --typo-gray: #8C8C8C;
  --typo-darkgray: #757575; 
  --typo-lightgray: #999999;

  --accent-blue: #0071EB;
  --accent-orange: #FFA00A;
  --accent-green: #5FA53F;

  --back-black0: #000000;
  --back-black2: #222222;
}

body {
  font-size: 1.6rem;
  line-height: auto;
  letter-spacing: 0%;
}

.header h1 {
  color:var(--typo-white);
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5%;
}

.color-system {
  border: 15px solid var(--primary-red);
  padding: 3rem;
  gap: 2rem;
}
.color-system h2 {
  color: var(--typo-white);
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -1%;
}

 /*-- PRİMARY --*/

.primary {
  display: flex;
  gap:6rem;
}

.rect {
  width: 520px;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
}

.rect p {
  color:var(--typo-white);
  padding-left: 2rem ;
  font-size: 1rem;
  line-height: auto;
  letter-spacing: 0%;

}

/*-- color box --*/


.square-box {
  display: flex;
  gap:2rem;
}

.box {
  width: 150px;
  aspect-ratio: 1/1;
  padding: 1rem
}
p {
  padding: 0.5rem;
  display: inline;
  font-size: 1rem;
  line-height: auto;
  letter-spacing: 0%;
}

/*-- buton --*/
h6 {
  color:var(--typo-darkgray)

}

.buttons {
  background-color: var(--back-black0);
  
  padding:1.6rem

}

button {
  font-size: 1.2rem;
  display: flex;
  padding: 1.2rem;
  gap: 1.5rem;
  margin: 1.8rem;
  border-radius: 5%;
}

button:hover {
  background-color: var(--primary-red);
  color:var(--typo-white)
}

.primary-button {
  line-height: auto;
  letter-spacing: 0.1%;
  background-color: var(--typo-white);
}

.seconder-button {
  line-height: auto;
  letter-spacing: 0%;
  background-color: var(--typo-darkgray);
  color:var(--typo-white)
}

.third-button{
  line-height: auto;
  letter-spacing: 0%;
  background-color: var(--back-black0);
  color:var(--typo-darkgray);
  border-radius: 0;
}

.main-entry {
  background-color:black ;
  border:1px solid #FFFFFF;
  padding: 20rem;
  
}

.main-entry h1{
  text-align: center;
  color:#FFFFFF
}

.entry{
  display: flex;
  justify-content: center;
  margin-top:1rem;
  margin-bottom:8rem;
}

.entry button {
  width: 200px;
  aspect-ratio: 1/1;
}

.entry button img {
  place-self: center;
  width: 100%;
}

.entry h3 {
  text-align: center;
  color:var(--typo-darkgray);
}
.manage {
  text-align: center;
}
.manage h3 {
  display: inline;
  color:var(--typo-darkgray);
  border: 1px solid var(--typo-gray);
  padding:1rem 2rem ;
  margin: 7rem;
}
.cards {
  display: flex;
  gap:2rem;
  justify-content: center;

}
.card {
  width:40rem ;
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.dik-card{
  width:40rem ;
  aspect-ratio: 9/16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card > div {
  display: flex;
  justify-content: space-between;
}
.card img {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

.card img:first-child {
  padding:0.7rem
}

span {
  background-color: red;
  color: white;
  align-self: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
